.Rproj.user
data/**/*.csv
data/**/*.png
data/raw/*
data/input/*.csv
data/input/length/*.csv
data/input/metiers/*.csv
data/intermediate_metiers/reference/*.csv
!data/networks/vessel_flow/*.csv
!data/networks/participation/3yr_mean/*.rds
!data/input/pcgroup_mean_coordinates.csv
!data/input/DCRB_Historic_Closures_CA_updated.csv
results/statistics/*SPEARMAN.csv
results/statistics/2007_2016*.csv
results/figures/*.pdf
results/figures/fig1/*.ppt
results/figures/fig1/*.pptx
results/figures/fig1/*.pdf
results/figures/fig1/in_prep*
doc/img/*.ppt
doc/img/*.pptx