.Rproj.user
data/**/*.csv
data/**/*.png
results/statistics/*SPEARMAN.csv
results/statistics/2007_2016*.csv
!data/input/pcgroup_mean_coordinates.csv
!data/input/DCRB_Historic_Closures_CA_updated.csv
results/figures/*.png
results/figures/fig1/Figure1.png
results/figures/fig1/Figure1.ppt
results/figures/fig1/Figure1.pptx